{% extends "::base.html.twig" %}

{% block title %}AppBundle:TwigPlayground:playground{% endblock %}

{% block body %}
<h1>Welcome to the TwigPlayground:playground page</h1>
    <p>Bonjour {{ nom | upper }}</p>
    <p>Nous sommes le {{ now | date('l m Y') }}</p>

    <p>Le premier truc est {{ inventary | first }}</p>
    <p>Le dernier truc est {{ inventary | last }}</p>

    <p>{{ client.firstname | capitalize }} {{ client.name | upper }}</p>
    <p>
        {{ client.address.path }}
        {{ client.address.zipcode }}
        {{ client.address.city }}
    </p>

    <a href="{{ path('homepage') }}">
        Homepage
    </a>

    <style>
        .pair {
            background-color: #6897BB;
        }
    </style>

    <table>
        <tr>
            <th>Index</th>
            <th>Nom</th>
            <th>Origine</th>
            <th>Cépage</th>
        </tr>
        {% for wine in cave if wine.cepage == 'Chardonay' %}
            <tr class="{{ loop.index is divisible by(3) ? "pair" : "" }}">
                <td>{{ loop.index }}</td>
                <td>{{ wine.name }}</td>
                <td>{{ wine.origin }}</td>
                <td>{{ wine.cepage }}</td>
            </tr>
        {% else %}
            <p>Aucun vin dans la cave</p>
        {% endfor %}
    </table>

    <ul>
        {% for stuff in inventary %}
            <li>{{ stuff }}</li>
        {% endfor %}
    </ul>

    <ul>
        {% for nombre in 1..10 %}
            <li>{{ nombre }}</li>
        {% endfor %}
    </ul>

    <ul>
        {% for lettre in 'a'..'z' %}
            <li>{{ lettre }}</li>
        {% endfor %}
    </ul>

{% endblock %}
